@import "../../variable.less";
.title{
  font-size:20px;
  color: #333333;
  min-height: 54px;
  line-height: 36px;
  border-bottom: 1px solid rgba(153,153,153,1);
  padding-bottom: 14px;
  .ellipsis2();
}
.card{
  border-radius: 4px;
  width: 361px;
  height: 357px;
  position: relative;
  overflow: hidden;
  &:hover{
    p{
      .color-linear();
      .border-linear();
    }
  }
  img{
    width: 100%;
    min-width: 360px;
    min-height: 225px;
    border-radius: 4px;
  }
  p{
    margin-bottom: 0;
  }
}

.status{
  height:30px;
  min-width: 80px;
  padding: 0 13px;
  background: @linear-main;
  color: #ffffff;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  line-height: 30px;
  border-bottom-right-radius: 4px;
}

.time{
  font-size:14px;
  color:#999999;
  margin-right: 30px;
}


.read{
  font-size: 16px;
  color: #999999;
}
