@main-width: 1200px;
@import 'variable.less';
:global {
  body, html {
    background: #ffffff;
  }

  .score{
    background: #f5f5f5;
    .top{
      text-align: center;
      border-bottom: 4px solid @opacity999;
      padding-top: 32px;
      padding-bottom: 28px;
      h1{
        color: #3333;
        font-size: 26px;
        margin-bottom: 17px !important;
      }
      h2{
        .color-linear-to-right();
        font-size: 20px;
        margin-bottom: 28px;
        color: transparent !important;
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        h2{
          background: none;
          color: #00acaf !important;
        }
      }
    }
    .score-card{
      background: @white;
      margin: 30px 20px 40px;
      border-radius: 8px;
      overflow: hidden;
      h4{
        line-height: 57px !important;
        font-size: 20px;
        text-align: center;
      }
      .content{
        padding: 29px 20px;
        color: @deep-gray;
        line-height:30px;
        font-size: 16px;
        border-top: 2px solid @opacity999;
        border-bottom: 2px solid @opacity999;
        margin: 0;
      }
    }
    .bottom{
      height: 81px;
      background: @white;
      display: flex;
      padding-left: 20px;
      align-items: center;
    }
    .pingfen{
      .color-linear-to-right();
      font-size: 22px;
      margin-right: 20px;
      flex-shrink: 0;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      .pingfen{
        background: none;
        color: #00acaf !important;
      }
    }
    input{
      width: 120px;
      height: 44px;
    }
    .total-score{
      padding: 50px 20px 60px;
      .score-form{
        padding: 30px 20px 30px 0;
        background: @white;
        box-shadow:0 2px 8px 0 rgba(31,130,194,0.3);
      }
    }
  }


  h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
    color: @deep-gray !important;
    line-height: 1 !important;
  }

  .header-content{
    display: flex;
    align-items: center;
  }

  .header-content-toolbar{
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .ant-layout {
    background: #ffffff !important;
  }

  .ant-modal-footer{
    text-align: center !important;
  }
  .ant-modal-close-x{
    background-image: url('./assets/icon/icon-guanbi.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .ant-modal-title{
    text-align: center !important;
    .color-linear() !important;
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: initial !important;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .ant-modal-title{
      background: none;
      color: #00acaf !important;
    }
  }

  .normal-upload{
    width:72px;
    height:23px;
    display: inline-block;
    border-radius:4px;
    .bg-linear-to-bottom();
    font-size: 14px;
    text-align: center;
    line-height: 23px;
    vertical-align: bottom;
    cursor: pointer;
    .ant-upload{
      color: @white !important;
      line-height: 1 !important;
    }
  }

  .ant-layout-header {
    box-shadow: 0 2px 8px 0 rgba(31, 130, 194, 0.3);
    .avatar{
      width: 60px;
      height: 60px;
      min-width: 60px;
      min-height: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 15px;
      margin-right: 18px;
      border: 1px solid #1F81C2;
    }
    .nickname{
      color: #1F81C2;
      font-size: 14px;
      display: block;
      width: 53px;
      .ellipsis1();
    }
    .search{
      margin-left: 100px;
      cursor: pointer;
      margin-right: 35px;
    }
  }

  .ant-pagination {
    text-align: center !important;
  }

  .card{
    padding: 29px 20px;
    background: @white;
    .title{
      color: #333333;
      line-height:28px;
      font-size:20px;
      color:rgba(51,51,51,1);
    }
    img{
      width:320px;
      height:205px;
      border-radius:4px;
      margin-right: 20px;
      flex-shrink: 0;
    }
    .right{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .content{
      margin-top: 17px;
      border-top: 1px solid #999999;
      color: #333333;
      font-size:14px;
      flex-grow: 1;
      margin-bottom: 15px;
      padding-top: 5px;
      line-height:28px;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
      word-break: break-all;
      max-height: 66px;
    }
  }

  .w {
    margin: 0 auto;
    width: @main-width;

    .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
      .bg-linear-to-right();
      text-align: center;
    }

    .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
      color: rgba(102, 102, 102, 1);
      font-size: 16px;
    }

    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected > a{
      color: @white !important;
    }
  }

  .flex-width-space-between {
    display: flex;
    justify-content: space-between;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .index-banner{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    .notice{
      width: 338px;
    }
  }


  .notice-box{
    padding: 0 20px 38px;
    margin-bottom: 79px;
    .notice{
      width: 530px;
      margin-top: 37px;
      p{
        .ellipsis1();
        font-size: 18px;
        color: @deep-gray;
        font-weight: bold;
        margin-bottom: 13px;
      }
      span{
        color: @light-gray;
      }
      .time{
        font-size: 14px;
      }
      &:hover{
        p{
          .color-linear();
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
          p{
            background: none;
            color: #00acaf !important;
          }
        }
      }
    }
  }

  .article-box{
    padding: 30px 20px 40px;
    background: @white;
    &>p{
      .color-linear();
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      p{
        background: none;
        color: #00acaf !important;
      }
    }
    .info{
      font-size: 16px;
      color: @light-gray;
      margin-top: 19px;
    }
    .content{
      padding-top: 29px;
      color: @deep-gray;
      font-size: 14px;
      line-height: 28px;
    }
  }

  .comment-list{
    border: 1px solid @opacity9992;
    margin-bottom: 80px;
    padding-bottom: 59px;
  }

  .park-record{
    border-bottom: 4px solid @opacity999;
    &:last-child{
      border-bottom: none;
    }
  }

  .room-card{
    height: 139px;
    background: @opacity999;
    padding: 0 30px;
    border-bottom: 12px solid @opacity999;
    &:last-child{
      border-bottom: none;
    }
    .top{
      line-height: 69px;
      font-size: 24px;
      border-bottom: 1px solid @opacity999;
      display: flex;
      justify-content: space-between;
    }
    .status{
      font-size: 20px;
    }
    .bottom{
      line-height: 69px;
      display: flex;
      justify-content: space-between;
    }
    .time{
      font-size: 18px;
      color:rgba(153,153,153,0.6);
    }
    .appoint-time{
      color: @light-gray;
      font-size: 20px;
    }
  }

  .service-tab{
    .ant-tabs-bar{
      margin: 0 !important;
    }
    .ant-tabs-nav{
      width: 100%;
      &>div{
        display: flex;
        justify-content: space-between;
        text-align: center;
      }
      .ant-tabs-tab{
        flex: 1;
        text-align: center;
        line-height: 58px;
        padding: 0 !important;
        &:hover{
          color: initial;
        }
      }
      .ant-tabs-tab-active{
        .color-linear-to-right();
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        .ant-tabs-tab-active{
          background: none;
          color: #00acaf !important;
        }
      }
    }
  }

  .ant-tabs-ink-bar{
    .bg-linear-to-right();
  }

  .dianzan{
    font-size: 24px;
    color: @deep-gray;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .dash-line-gray{
    height: 1px;
    border-top: 1px dashed @light-gray;
  }

  .solid-line6{
    height: 6px;
    background: @light-gray;
    opacity: 0.1;
  }
  .solid-line4{
    height: 6px;
    background: @light-gray;
    opacity: 0.1;
  }
  .bl-input{
    background: #f3f3f3 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    border: none !important;
    padding: 30px 20px !important;

  }

  /* For demo */
  .ant-carousel .slick-slide {
    text-align: center;
    height: 450px !important;
    overflow: hidden;
    img{
      width: 100%;
      height: 450px !important;
      min-height: 450px !important;

    }
  }

  .result-search{
    &:focus{
      box-shadow: none !important;
    }
  }

  .team-body{
    .main-title{
      height: 80px;
      line-height: 80px;
      .color-linear-to-bottom();
      font-size: 20px;
      font-weight: bold;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      .main-title{
        background: none;
        color: #00acaf !important;
      }
    }
  }

  .team-box{
    background: url("./assets/team-bg.png");
    height: 505px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 109px;
    color: @white;
    .border{
      height: 116px;
      width: 116px;
      border-radius: 50%;
      .bg-linear-to-right();
      padding: 4px;
    }
    .avatar{
      height: 108px;
      width: 108px;
      border-radius: 50%;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .nick-name{
      font-size:24px;
      font-weight: bold;
      margin-top: 20px;
    }
    .desc{
      font-size: 16px;
      margin-top: 14px;
    }
    .edit{
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8);
      width: 140px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      border-radius: 15px;
      border: 1px solid #0D72B8;
      cursor: pointer;
      margin-top: 20px;
    }
  }

  .sign-member{
    background: rgba(153, 153, 153, 0.1);
    margin-bottom: 80px;
    p:first-child{
      .color-linear();
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 50px;
      border-bottom: 1px dashed rgba(0, 172, 175, 1);
      margin-bottom: 0;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      p:first-child{
        background: none;
        color: #00acaf !important;
      }
    }
    .member-box{
      display: flex;
      flex-wrap: wrap;
      li{
        display: inline-block;
        height: 113px;
        line-height: 113px;
        width: 25%;
        padding: 0 60px;
        border-bottom: 1px solid @opacity999;
        span{
          font-size:16px;
          color: @deep-gray;
          margin-left: 20px;
        }
      }
      &.competition-sign-member{
        li{
          width: 50%;
          padding-top: 31px;
          padding-bottom: 31px;
          padding-left: 182px;
          height: initial;
          line-height: initial;
          position: relative;
          &:after{
            content: '';
            display: inline-block;
            height: 50px;
            width: 1px;
            border-right: 1px solid rgba(153, 153, 153, 0.2);
            position: absolute;
            right: 0;
          }
          .dianping{
            cursor: pointer;
            margin-left: 80px;
            .color-linear-to-right();
          }
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
            .dianping{
              background: none;
              color: #00acaf !important;
            }
          }
        }
      }
    }
  }

  .park-card{
    width:570px;
    height:456px;
    border-radius:6px;
    margin-bottom: 50px;
    &:hover{
      .content{
        box-shadow:0 2px 8px 0 rgba(31,130,194,0.3);
        border: none;
        p.title{
          .color-linear();
          .border-linear();
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
          p.title{
            background: none;
            color: #00acaf !important;
          }
        }
      }
    }
    img{
      width:570px;
      height:298px;
      min-width:570px;
      min-height: 298px;
    }
    .content{
      padding-left: 18px;
      padding-bottom: 19px;
      border:1px solid rgba(153,153,153,1);
      border-top: none;
      p.title{
        color: #333333;
        font-weight: bold;
        .ellipsis1();
        font-size:20px;
        height: 53px;
        line-height: 53px;
        border-bottom:1px solid @light-gray;
        margin-bottom: 0;
      }
      .intro{
        color: @deep-gray;
        font-size: 14px;
        line-height:28px;
        margin-top: 14px;
        padding-right: 17px;
      }
    }
  }

  .pull-left{
    float: left;
  }

  .pull-right{
    float: right;
  }

  .info-public-box{
    height: 450px;
    padding: 22px 22px 0 0;
    background:rgba(249,249,249,1);
    box-shadow:-1px 0 11px 1px rgba(85,85,85,0.24);
    .title{
      height: 42px;
      border-left: 9px solid #0772B7;
      line-height: 42px;
      padding: 0 0 0 22px;
      color: #0772B7;
    }
  }

  .aboutLink a{
    color: #999 !important;
  }


  .daoshi-identity{
    width: 36px;
    height: 20px;
    line-height: 20px;
    color: #BE1E23;
    border: 1px solid #BE1E23;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
  }

  .info-public{
    margin: 0 auto;
    padding-left: 22px;
    height: 450px;
    color: @deep-gray;
    font-size: 16px;
    padding-right: 20px;
    .notice-item{
      position: relative;
      min-height: 40px;
      color: #666666;
      margin-top: 42px;
      padding-left: 20px;
      &:before{
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        width: 11px;
        height: 11px;
        background: #0772B7;
        border-radius: 50%;
        top: 7px;
      }
      &:hover{
        color: #3089C2;
      }
    }
  }

  .app_notes{
    color: #c03e3e !important;
    width: 1200px;
    margin: 30px auto 0;
    .competition-detail{
      margin-top: 12px;
    }
    h6{
      font-size: 20px;
      color: #c03e3e !important;
      font-weight: bold;
    }
  }

  .progress_qrcode{
    height: 100px;
    width: 100px;
  }

  .id-card{
    width:240px;
    height:286px;
    background:rgba(245,245,245,1);
    padding: 39px 25px 0;
    text-align: center;
    .photo{
      width:105px;
      height:105px;
      border-radius:50%;
      min-width: 105px;
      min-height: 105px;
    }
    .nick-name{
      font-size:18px;
      color: @deep-gray;
      margin-top: 16px;
      margin-bottom: 10px;
    }
    .autograph{
      color: @light-gray;
      font-size:14px;
      .ellipsis1();
    }
    .sign{
      margin-top: 19px;
      color: @white;
      cursor: pointer;
      width: 60px;
      display: inline-block;
      height: 24px;
      text-align: center;
      line-height: 24px;
      border-radius: 12px;
      .bg-linear-to-bottom();
    }
  }


  .bl-home{
    .ant-menu{
      border-right:none !important;
      background: #f5f5f5 !important;
      text-align: center !important;
      &:not(.ant-menu-horizontal) .ant-menu-item-selected{
          background: @opacity999;
        span{
          .color-linear-to-bottom();
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
          span{
            background: none;
            color: #00acaf !important;
          }
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          height: 100%;
          left:0;
          background:linear-gradient(to bottom, rgba(7,113,187,1), rgba(0,172,175,1));
        }
      }
      .ant-menu-item{
        height: 70px !important;
        line-height: 70px !important;
      }
    }
    .subheading{
      .color-linear-to-bottom();
      font-size: 24px;
      font-weight: bold;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      subheading{
        background: none;
        color: #00acaf !important;
      }
    }
    .ant-layout-content .title-card{
      background: @opacity999;
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid @opacity9992;
      text-align: center;
      font-size: 24px;
      span{
        .color-linear-to-bottom();
        font-weight: bold;
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        span{
          background: none;
          color: #00acaf !important;
        }
      }
    }
    .ant-layout-content{
      width: 910px !important;
      justify-content: center;
      margin-left: 50px;
      border: 1px solid @opacity9992 !important;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .bl-home .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span, .bl-home .ant-layout-content .title-card span{
      background: none;
      color: #00acaf !important;
    }
  }

  .footer {
    position: relative;

    p {
      font-size: 14px;
      margin-bottom: 17px !important;
      &:nth-of-type(2){
        transform: translateX(-23px);
      }
    }

    p:last-child {
      font-size: 12px;
      color:rgba(153,153,153,0.6);
    }

    .logo {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -36px;
    }

    .ant-layout-footer {
      height: 153px;
      background: rgba(51, 51, 51, 1) !important;
      color: #999;
      padding-top: 40px;
      padding-bottom: 38px;
      text-align: center;
    }
  }

  .ant-back-top-content{
    background: rgba(0,172,175,1) !important;
    &:hover{
      background: rgba(7,113,187,1) !important;
    }
  }

  .competition {
    display: flex;
    flex-wrap: wrap;
  }

  .service-card {
    width: 240px;
    height: 300px;
    position: relative;
    background-size: 238px;
    background-repeat: no-repeat;
    cursor: pointer;
    .mask{
      position: absolute;
      top: 0;
      right: 2px;
      left: 0;
      z-index: 999;
      bottom: 0;
    }
    .img{
      width: 238px;
      height: 300px;
    }
    &:nth-of-type(2) .img{
      width: 240px;
    }
    &:hover{
      .mask{
        background: rgba(31, 129, 194, 0.8);
      }
    }
    .icon {
      position: absolute;
      top: 76px;
      left: 82px;
    }

    p {
      position: absolute;
      bottom: 75px;
      font-size: 30px;
      text-align: center;
      color: #ffffff;
      left: 0;
      right: 0;
      margin-bottom: 0;
    }
  }

  .service-type {
    width: 570px;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    background: rgba(0, 12, 23, 0.5);
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
    img{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    .img-box {
      width: 320px;
      color: @white;
      height: 140px;
      line-height: 140px;
      border-radius: 6px;
      overflow: hidden;
      background: rgba(249, 249, 249, 0.2);
      font-size: 24px;
      text-align: center;
      z-index: 999;
    }
  }


  .service-detail-card{
    display: flex;
    img{
      width: 300px;
      height: 222px;
      flex-shrink: 0;
    }
    .right{
      padding: 20px 0 20px 20px;
      border: 1px solid @opacity9992;
      h1{
        line-height: 68px !important;
        border-bottom: 1px solid @opacity9992;;
        color: #333333 !important;
        span{
          margin-left: 28px;
          .color-linear-to-right();
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
          span{
            background: none;
            color: #00acaf !important;
          }
        }
      }
      .btn{
        width: 140px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: @white;
        .bg-linear-to-right();
        border-radius:4px;
        font-size: 22px;
        margin-top: 66px;
      }
    }
  }

  .service-list-card {
    .box {
      width: 255px;
      height: 282px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 4px;
      text-align: center;
      margin-bottom: 50px;

      .img-box {
        width: 255px;
        height: 188px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      p {
        margin-bottom: 0 !important;
        line-height: 1;
      }

      .name {
        margin-top: 19px;
        font-size: 24px;
        color: #333333;
      }

      .type {
        margin-top: 14px;
        .color-linear-to-right();
        display: inline-block;
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          margin-top: -3px;
          left: -11px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #00ACAF;
        }
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        .type{
          background: none;
          color: #00acaf !important;
        }
      }
    }
  }

  .back-button {
    width: 240px;
    height: 50px;
    border-radius: 8px;
    background: rgba(153, 153, 153, 0.2);
    font-size: 24px;
    color: @light-gray;
    text-align: center;
    line-height: 50px;
  }

  .sign-list{
    background: rgba(153, 153, 153, 0.1);
    margin-top: 58px;
    .title{
      line-height: 85px;
      text-align: center;
      .color-linear();
      font-weight: bold;
      font-size: 26px;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      .title{
        background: none;
        color: #00acaf !important;
      }
    }
    .item{
      height: 77px;
      line-height: 77px;
      padding: 0 148px 0 168px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(153,153,153,0.2);
      color: @light-gray;
      font-size: 22px;
      span{
        color: @deep-gray;
      }
    }
  }

  .main-button {
    width: 240px;
    height: 50px;
    border-radius: 8px;
    background: @linear-main;
    font-size: 24px;
    color: @white;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
  }
  .main-small-button{
    padding: 0 26px;
    height: 40px;
    border-radius: 8px;
    background: @linear-main;
    font-size: 22px;
    color: @white;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
  }

  .icon-add-box{
    font-size: 20px;
    .color-linear-to-right();
    display: flex;
    align-items: center;
    cursor: pointer;
    i{
      margin-right: 10px;
    }
    span{
      padding-bottom: 2px;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .icon-add-box{
      background: none;
      color: #00acaf !important;
    }
  }

  .icon-box{
    display: flex;
    align-items: center;
  }

  .self-add{
    height: 61px;
    background:rgba(243,243,243,1);
    border-radius:4px;
    line-height: 61px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    .item{
      color: @deep-gray;
      font-size: 16px;
      .ellipsis1();
    }
    .title{
      color: @deep-gray;
      font-size: 20px;
    }
    .reward{
      color: @light-gray;
      font-size: 16px;
    }
    .edit, .del{
      font-size: 14px;
      .color-linear-to-right();
      margin-left: 4px;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      .edit, .del{
        background: none;
        color: #00acaf !important;
      }
    }
    .split{
      display: inline-block;
      width: 1px;
      height: 21px;
      border:1px solid rgba(153,153,153,0.2);
      margin: 20px 20px;
    }
    .fr{
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .fr{
    float: right;
  }


  .login-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url("./assets/login/bg.png") repeat;
    background-size: 100%;

    .login-form-wrapper {
      width: 1000px;
      height: 530px;
      display: flex;
    }

    .login-left {
      width: 480px;
      text-align: center;
      height: 100%;
      background: url("./assets/login/bg2.png") repeat;
      background-size: 100% 100%;
      border-radius: 8px 0 0 8px;
      color: @deep-gray;

      h1 {
        margin-top: 76px !important;
        font-size: 48px;
      }

      h6 {
        margin-top: 21px !important;
        font-size: 24px;
      }

      img {
        margin-top: 69px;
      }
    }

    .login-right {
      width: 522px;
      height: 100%;
      background: url("./assets/login/bg1.png") -1px repeat;
      background-size: 100% 100%;
      padding: 40px 52px 61px 50px;
      text-align: center;
      overflow: hidden;
      border-radius: 0 8px 8px 0;

      .ant-form-item{
        margin: 0 !important;
      }
      .login-form {
        margin-top: 30px;
      }

      .ant-form-item-children {
        display: block;
      }

      .count-down {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }

      .ant-input {
        border: none;
        background: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      .ant-input:focus {
        border: none !important;
        box-shadow: none;
      }

      .has-error .ant-form-explain, .has-error .ant-form-split {
        position: absolute;
        top: 38px;
        left: 42px;
      }

      .has-error .ant-input:focus {
        border: none;
        box-shadow: none;
      }

      .ant-row {
        border-bottom: 1px solid @light-gray;
        margin-bottom: 0;
        padding: 23px 0 23px 0;
      }

      .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 42px;
      }

      .ant-btn {
        width: 400px;
        height: 50px;
        background: @linear-main;
        margin-top: 45px;
        font-size: 24px;
      }
    }
  }

  .stage:last-child {
    padding: 40px 20px;
    background: #FAFAFA;
    border-radius: 6px;
  }


  .bl-confirm{
    .border-linear();
    box-shadow:0 2px 8px 0 rgba(31,130,194,0.3);
    border-radius:6px;
    text-align: center;
    padding-bottom: 60px;
    width: 690px;
    margin: 0 auto;
    .title{
      height: 80px;
      line-height: 80px;
      border-bottom: 1px solid @opacity9992;
      span{
        .color-linear();
        font-size: 24px;
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        span{
          background: none;
          color: #00acaf !important;
        }
      }
    }
    .border{
      height: 6px;
      .bg-linear-to-bottom();
      border-radius: 3px 3px 0 0;
    }
    .content{
      padding:33px 30px 0;
      line-height: 36px;
      margin-bottom: 40px;
      color: @deep-gray;
      font-size: 18px;
      text-align: left;
    }
    .btn{
      width:180px;
      height:50px;
      line-height: 50px;
      text-align: center;
      display: inline-block;
      border-radius: 8px;
      cursor: pointer;
      font-size: 20px;
      &.bl{
        background: @opacity9992;
        color: @light-gray;
      }
      &.br{
        .bg-linear-to-right();
        margin-left: 165px;
        color: @white;
      }
    }
  }

  .light-gray {
    color: @light-gray !important;
  }

  .deep-gray {
    color: @deep-gray !important;
  }

  .second-bg {
    background: @secondBgColor;
  }

  .competition-detail {
    border-radius: 4px;
    border: @light-gray-border;
    padding: 29px 20px;
    margin-bottom: 79px;

    p {
      color: @deep-gray;
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 30px;
    }
  }

  .count-down {
    border-radius: 4px;
    background: @linear-main;
    height: 34px;
    width: 90px;
    text-align: center;
    color: #f5f5f5;
    line-height: 34px;
    font-size: 14px;
  }

  .bl-form {
    .form-title {
      height: 60px;
      .bg-linear-to-right();
      border-radius: 8px 8px 0 0;
      font-weight: bold;
      color: @white;
      font-size: 24px;
      text-align: center;
      line-height: 60px;
    }

    .subheading{
      .color-linear-to-bottom();
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      .subheading{
        background: none;
        color: #00acaf !important;
      }
    }

    .form-name {
      position: relative;
      font-size: 24px;
      font-weight: bold;
      margin-top: 30px;
      text-align: center;
      .color-linear();
      &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 20px;
        background: linear-gradient(90deg, rgba(0, 172, 175, 1), rgba(11, 158, 160, 1), rgba(13, 114, 184, 1), rgba(0, 169, 193, 1), rgba(7, 113, 187, 1));
        position: absolute;
        left: -16px;
        top: 8px;
      }
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      .form-name{
        background: none;
        color: #00acaf !important;
      }
    }

    .form-content {
      padding: 30px 30px 60px;
    }

    .form-input-title {
      color: #333333;
      font-size: 20px;
    }

    .form-input-item {
      margin-top: 58px;
    }
  }

  .form-next{
    height: 59px;
    line-height: 59px;
    text-align: right;
    padding-right: 44px;
    margin-top: 59px;
    font-size: 20px;
    .color-linear-to-right();
    border-top: 1px solid @opacity9992;
    .icon-jinrujilu{
      vertical-align: middle;
      margin-bottom: 4px;
      margin-left: 16px;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .form-next{
      background: none;
      color: #00acaf !important;
    }
  }

  .ant-modal-body .ant-form-item{
    &:last-child{
      margin-bottom: 0 !important;
    }
  }

  .form-bl{
    .ant-form-item{
      margin-bottom: 28px !important;
    }
    .back-button, .main-button{
      width: 180px;
    }
    .ant-row{
      .ant-form-item-children{
        width: 100%;
      }
      .ant-form-item-label{
        width: 166px;
        padding-right: 26px;
        color: #333333;
        font-size: 20px;
        text-align: right;
        label{
          float: right;
          font-size: 20px;
          color: #333 !important;
        }
      }
      .ant-form-item-control{
        min-height: 50px;
        line-height: 50px;
      }
      .ant-input, .ant-time-picker-input{
        height: 50px;
        border: 1px solid @opacity999 !important;
        color: #999 !important;
      }
    }

    .ant-time-picker-panel-input-wrap{
      padding: 19px 2px 11px 12px !important;
      .ant-time-picker-panel-clear-btn{
        top: 19px !important;
      }
    }
    .ant-time-picker{
      width: 181px;
    }

    .ant-calendar-input-wrap{
      height: 50px;
      padding: 14px 10px;
    }
  }

  .border-colorful{
    border:1px solid;
    border-image:linear-gradient(45deg, rgba(25, 176, 199, 0.4), rgba(247, 163, 157, 0.4), rgba(247, 198, 196, 0.4), rgba(33, 203, 188, 0.4), rgba(251, 124, 58, 0.4), rgba(82, 224, 217, 0.4), rgba(31, 129, 194, 0.4)) 1 1;
  }

    .service-form-wrapper{
      .border-colorful();
      background: white;
      border-radius: 6px;
      margin-top: 39px;
      margin-bottom: 80px;
      padding: 60px 275px;
    }


  .bl-label{
    .ant-radio{
      display: none !important;
    }
    .ant-radio-wrapper{
      margin-right: 33px;
      margin-bottom: 19px;
      span{
        display: inline-block;
        padding: 10px 20px;
        border:1px solid rgba(240,240,240,1);
        border-radius:4px;
        text-align: center;
        font-size: 18px;
        color: @light-gray;
      }
      &.ant-radio-wrapper-checked{
        .bg-linear-to-right() !important;
        span{
          color: @white ;
        }
      }
    }
  }

  .btn-box{
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
  }

  .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }

  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #999;
  }

  .ant-upload-list-picture-card .ant-upload-list-item{
    width: 160px !important;
    height: 180px !important;
  }

  .ant-upload.ant-upload-select-picture-card{
    width: 160px !important;
    height: 180px !important;
  }

  .ant-tabs-nav .ant-tabs-tab{
    padding: 30px 40px !important;
    transition: none !important;
    &:hover{
      .color-linear-to-right() !important;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      &:hover{
        background: none;
        color: #00acaf !important;
      }
    }
  }
  .ant-tabs-nav .ant-tabs-tab-active{
    .color-linear-to-right() !important;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .ant-tabs-nav .ant-tabs-tab-active{
      background: none;
      color: #00acaf !important;
    }
  }

  .ant-tabs-bar{
    margin-bottom: 40px !important;
  }
  .time-picker-button{
    .bg-linear-to-right() !important;
  }
  .ant-empty{
    margin-top: 45px !important;
  }
  .ant-timeline-item-content{
    width: 440px !important;
    div{
      margin: 0;
      font-size: 20px;
      color: @deep-gray;
      div{
        color: @light-gray;
        float: right;
      }
    }
  }
  .row-upload .ant-form-item-children{
    display: flex !important;
  }
  .ant-carousel .slick-dots li button{
    height: 0 !important;
  }
  .ant-carousel .slick-dots{
    bottom: 17px !important;
  }
  .ant-carousel .slick-prev, .ant-carousel .slick-next{
    z-index: 999;
    &:hover{
      background: rgba(0,0,0,.1) !important;
    }
  }
  .ant-carousel .slick-prev{
    left: 10px !important;
  }
  .ant-carousel .slick-next{
    right: 10px !important;
  }
  .media, .media-player{
    height: 100% !important;
    width:100% !important;
  }
   video, .react-player__preview{
    width: 803px !important;
    height: 450px !important;
  }
  .flex-sb{
    justify-content: space-between;
  }
}
