.color-linear-to-right {
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .color-linear-to-right {
    background: none;
    color: #00acaf !important;
  }
}
.color-linear-to-bottom {
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .color-linear-to-bottom {
    background: none;
    color: #00acaf !important;
  }
}
.color-linear {
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .color-linear {
    background: none;
    color: #00acaf !important;
  }
}
.bg-linear-to-bottom {
  background: linear-gradient(to bottom, #0771bb, #00acaf);
}
.bg-linear-to-right {
  background: linear-gradient(to right, #00acaf, #0771bb);
}
.border-linear {
  border-image: linear-gradient(to right, #00ACAF, #0771BB) 10;
}
.timeline-circle {
  background: linear-gradient(90deg, #00acaf, #0b9ea0, #0d72b8, #00a9c1, #0771bb);
  opacity: 0.5;
}
.timeline-small-circle {
  background: linear-gradient(90deg, rgba(0, 172, 175, 0.8), rgba(11, 158, 160, 0.8), rgba(13, 114, 184, 0.8), rgba(0, 169, 193, 0.8), rgba(7, 113, 187, 0.8));
}
.ellipsis1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
:global {
  /* For demo */
}
:global body,
:global html {
  background: #ffffff;
}
:global .score {
  background: #f5f5f5;
}
:global .score .top {
  text-align: center;
  border-bottom: 4px solid rgba(153, 153, 153, 0.1);
  padding-top: 32px;
  padding-bottom: 28px;
}
:global .score .top h1 {
  color: #3333;
  font-size: 26px;
  margin-bottom: 17px !important;
}
:global .score .top h2 {
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  margin-bottom: 28px;
  color: transparent !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .score .top h2 {
    background: none;
    color: #00acaf !important;
  }
}
:global .score .score-card {
  background: #ffffff;
  margin: 30px 20px 40px;
  border-radius: 8px;
  overflow: hidden;
}
:global .score .score-card h4 {
  line-height: 57px !important;
  font-size: 20px;
  text-align: center;
}
:global .score .score-card .content {
  padding: 29px 20px;
  color: #666666;
  line-height: 30px;
  font-size: 16px;
  border-top: 2px solid rgba(153, 153, 153, 0.1);
  border-bottom: 2px solid rgba(153, 153, 153, 0.1);
  margin: 0;
}
:global .score .bottom {
  height: 81px;
  background: #ffffff;
  display: flex;
  padding-left: 20px;
  align-items: center;
}
:global .score .pingfen {
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 22px;
  margin-right: 20px;
  flex-shrink: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .score .pingfen {
    background: none;
    color: #00acaf !important;
  }
}
:global .score input {
  width: 120px;
  height: 44px;
}
:global .score .total-score {
  padding: 50px 20px 60px;
}
:global .score .total-score .score-form {
  padding: 30px 20px 30px 0;
  background: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(31, 130, 194, 0.3);
}
:global h1,
:global h2,
:global h3,
:global h4,
:global h5,
:global h6 {
  margin: 0 !important;
  color: #666666 !important;
  line-height: 1 !important;
}
:global .header-content {
  display: flex;
  align-items: center;
}
:global .header-content-toolbar {
  display: flex;
  cursor: pointer;
  align-items: center;
}
:global .ant-layout {
  background: #ffffff !important;
}
:global .ant-modal-footer {
  text-align: center !important;
}
:global .ant-modal-close-x {
  background-image: url('./assets/icon/icon-guanbi.png');
  background-repeat: no-repeat;
  background-position: center center;
}
:global .ant-modal-title {
  text-align: center !important;
  background: linear-gradient(to right, #00acaf, #0771bb) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: initial !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .ant-modal-title {
    background: none;
    color: #00acaf !important;
  }
}
:global .normal-upload {
  width: 72px;
  height: 23px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  font-size: 14px;
  text-align: center;
  line-height: 23px;
  vertical-align: bottom;
  cursor: pointer;
}
:global .normal-upload .ant-upload {
  color: #ffffff !important;
  line-height: 1 !important;
}
:global .ant-layout-header {
  box-shadow: 0 2px 8px 0 rgba(31, 130, 194, 0.3);
}
:global .ant-layout-header .avatar {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 18px;
  border: 1px solid #1F81C2;
}
:global .ant-layout-header .nickname {
  color: #1F81C2;
  font-size: 14px;
  display: block;
  width: 53px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
:global .ant-layout-header .search {
  margin-left: 100px;
  cursor: pointer;
  margin-right: 35px;
}
:global .ant-pagination {
  text-align: center !important;
}
:global .card {
  padding: 29px 20px;
  background: #ffffff;
}
:global .card .title {
  line-height: 28px;
  font-size: 20px;
  color: #333333;
}
:global .card img {
  width: 320px;
  height: 205px;
  border-radius: 4px;
  margin-right: 20px;
  flex-shrink: 0;
}
:global .card .right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
:global .card .content {
  margin-top: 17px;
  border-top: 1px solid #999999;
  color: #333333;
  font-size: 14px;
  flex-grow: 1;
  margin-bottom: 15px;
  padding-top: 5px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  max-height: 66px;
}
:global .w {
  margin: 0 auto;
  width: 1200px;
}
:global .w .ant-menu.ant-menu-dark .ant-menu-item-selected,
:global .w .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: linear-gradient(to right, #00acaf, #0771bb);
  text-align: center;
}
:global .w .ant-menu-dark .ant-menu-item,
:global .w .ant-menu-dark .ant-menu-item-group-title,
:global .w .ant-menu-dark .ant-menu-item > a {
  color: #666666;
  font-size: 16px;
}
:global .w .ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
  margin-right: 10px;
}
:global .w .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:last-child {
  margin-right: 0;
}
:global .w .ant-menu.ant-menu-dark .ant-menu-item-selected > a {
  color: #ffffff !important;
}
:global .flex-width-space-between {
  display: flex;
  justify-content: space-between;
}
:global .flex {
  display: flex;
  flex-wrap: wrap;
}
:global .index-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
:global .index-banner .notice {
  width: 338px;
}
:global .notice-box {
  padding: 0 20px 38px;
  margin-bottom: 79px;
}
:global .notice-box .notice {
  width: 530px;
  margin-top: 37px;
}
:global .notice-box .notice p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 13px;
}
:global .notice-box .notice span {
  color: #999999;
}
:global .notice-box .notice .time {
  font-size: 14px;
}
:global .notice-box .notice:hover p {
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .notice-box .notice:hover p {
    background: none;
    color: #00acaf !important;
  }
}
:global .article-box {
  padding: 30px 20px 40px;
  background: #ffffff;
}
:global .article-box > p {
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .article-box p {
    background: none;
    color: #00acaf !important;
  }
}
:global .article-box .info {
  font-size: 16px;
  color: #999999;
  margin-top: 19px;
}
:global .article-box .content {
  padding-top: 29px;
  color: #666666;
  font-size: 14px;
  line-height: 28px;
}
:global .comment-list {
  border: 1px solid rgba(153, 153, 153, 0.2);
  margin-bottom: 80px;
  padding-bottom: 59px;
}
:global .park-record {
  border-bottom: 4px solid rgba(153, 153, 153, 0.1);
}
:global .park-record:last-child {
  border-bottom: none;
}
:global .room-card {
  height: 139px;
  background: rgba(153, 153, 153, 0.1);
  padding: 0 30px;
  border-bottom: 12px solid rgba(153, 153, 153, 0.1);
}
:global .room-card:last-child {
  border-bottom: none;
}
:global .room-card .top {
  line-height: 69px;
  font-size: 24px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.1);
  display: flex;
  justify-content: space-between;
}
:global .room-card .status {
  font-size: 20px;
}
:global .room-card .bottom {
  line-height: 69px;
  display: flex;
  justify-content: space-between;
}
:global .room-card .time {
  font-size: 18px;
  color: rgba(153, 153, 153, 0.6);
}
:global .room-card .appoint-time {
  color: #999999;
  font-size: 20px;
}
:global .service-tab .ant-tabs-bar {
  margin: 0 !important;
}
:global .service-tab .ant-tabs-nav {
  width: 100%;
}
:global .service-tab .ant-tabs-nav > div {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
:global .service-tab .ant-tabs-nav .ant-tabs-tab {
  flex: 1;
  text-align: center;
  line-height: 58px;
  padding: 0 !important;
}
:global .service-tab .ant-tabs-nav .ant-tabs-tab:hover {
  color: initial;
}
:global .service-tab .ant-tabs-nav .ant-tabs-tab-active {
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .service-tab .ant-tabs-nav .ant-tabs-tab-active {
    background: none;
    color: #00acaf !important;
  }
}
:global .ant-tabs-ink-bar {
  background: linear-gradient(to right, #00acaf, #0771bb);
}
:global .dianzan {
  font-size: 24px;
  color: #666666;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
:global .dash-line-gray {
  height: 1px;
  border-top: 1px dashed #999999;
}
:global .solid-line6 {
  height: 6px;
  background: #999999;
  opacity: 0.1;
}
:global .solid-line4 {
  height: 6px;
  background: #999999;
  opacity: 0.1;
}
:global .bl-input {
  background: #f3f3f3 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  border: none !important;
  padding: 30px 20px !important;
}
:global .ant-carousel .slick-slide {
  text-align: center;
  height: 450px !important;
  overflow: hidden;
}
:global .ant-carousel .slick-slide img {
  width: 100%;
  height: 450px !important;
  min-height: 450px !important;
}
:global .result-search:focus {
  box-shadow: none !important;
}
:global .team-body .main-title {
  height: 80px;
  line-height: 80px;
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .team-body .main-title {
    background: none;
    color: #00acaf !important;
  }
}
:global .team-box {
  background: url("./assets/team-bg.png");
  height: 505px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 109px;
  color: #ffffff;
}
:global .team-box .border {
  height: 116px;
  width: 116px;
  border-radius: 50%;
  background: linear-gradient(to right, #00acaf, #0771bb);
  padding: 4px;
}
:global .team-box .avatar {
  height: 108px;
  width: 108px;
  border-radius: 50%;
  overflow: hidden;
}
:global .team-box .avatar img {
  height: 100%;
  width: 100%;
}
:global .team-box .nick-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
:global .team-box .desc {
  font-size: 16px;
  margin-top: 14px;
}
:global .team-box .edit {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  width: 140px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #0D72B8;
  cursor: pointer;
  margin-top: 20px;
}
:global .sign-member {
  background: rgba(153, 153, 153, 0.1);
  margin-bottom: 80px;
}
:global .sign-member p:first-child {
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  border-bottom: 1px dashed #00acaf;
  margin-bottom: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .sign-member p:first-child {
    background: none;
    color: #00acaf !important;
  }
}
:global .sign-member .member-box {
  display: flex;
  flex-wrap: wrap;
}
:global .sign-member .member-box li {
  display: inline-block;
  height: 113px;
  line-height: 113px;
  width: 25%;
  padding: 0 60px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.1);
}
:global .sign-member .member-box li span {
  font-size: 16px;
  color: #666666;
  margin-left: 20px;
}
:global .sign-member .member-box.competition-sign-member li {
  width: 50%;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 182px;
  height: initial;
  line-height: initial;
  position: relative;
}
:global .sign-member .member-box.competition-sign-member li:after {
  content: '';
  display: inline-block;
  height: 50px;
  width: 1px;
  border-right: 1px solid rgba(153, 153, 153, 0.2);
  position: absolute;
  right: 0;
}
:global .sign-member .member-box.competition-sign-member li .dianping {
  cursor: pointer;
  margin-left: 80px;
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .sign-member .member-box.competition-sign-member li .dianping {
    background: none;
    color: #00acaf !important;
  }
}
:global .park-card {
  width: 570px;
  height: 456px;
  border-radius: 6px;
  margin-bottom: 50px;
}
:global .park-card:hover .content {
  box-shadow: 0 2px 8px 0 rgba(31, 130, 194, 0.3);
  border: none;
}
:global .park-card:hover .content p.title {
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
  border-image: linear-gradient(to right, #00ACAF, #0771BB) 10;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .park-card:hover .content p.title {
    background: none;
    color: #00acaf !important;
  }
}
:global .park-card img {
  width: 570px;
  height: 298px;
  min-width: 570px;
  min-height: 298px;
}
:global .park-card .content {
  padding-left: 18px;
  padding-bottom: 19px;
  border: 1px solid #999999;
  border-top: none;
}
:global .park-card .content p.title {
  color: #333333;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  height: 53px;
  line-height: 53px;
  border-bottom: 1px solid #999999;
  margin-bottom: 0;
}
:global .park-card .content .intro {
  color: #666666;
  font-size: 14px;
  line-height: 28px;
  margin-top: 14px;
  padding-right: 17px;
}
:global .pull-left {
  float: left;
}
:global .pull-right {
  float: right;
}
:global .info-public-box {
  height: 450px;
  padding: 22px 22px 0 0;
  background: #f9f9f9;
  box-shadow: -1px 0 11px 1px rgba(85, 85, 85, 0.24);
}
:global .info-public-box .title {
  height: 42px;
  border-left: 9px solid #0772B7;
  line-height: 42px;
  padding: 0 0 0 22px;
  color: #0772B7;
}
:global .aboutLink a {
  color: #999 !important;
}
:global .daoshi-identity {
  width: 36px;
  height: 20px;
  line-height: 20px;
  color: #BE1E23;
  border: 1px solid #BE1E23;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
}
:global .info-public {
  margin: 0 auto;
  padding-left: 22px;
  height: 450px;
  color: #666666;
  font-size: 16px;
  padding-right: 20px;
}
:global .info-public .notice-item {
  position: relative;
  min-height: 40px;
  color: #666666;
  margin-top: 42px;
  padding-left: 20px;
}
:global .info-public .notice-item:before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  width: 11px;
  height: 11px;
  background: #0772B7;
  border-radius: 50%;
  top: 7px;
}
:global .info-public .notice-item:hover {
  color: #3089C2;
}
:global .app_notes {
  color: #c03e3e !important;
  width: 1200px;
  margin: 30px auto 0;
}
:global .app_notes .competition-detail {
  margin-top: 12px;
}
:global .app_notes h6 {
  font-size: 20px;
  color: #c03e3e !important;
  font-weight: bold;
}
:global .progress_qrcode {
  height: 100px;
  width: 100px;
}
:global .id-card {
  width: 240px;
  height: 286px;
  background: #f5f5f5;
  padding: 39px 25px 0;
  text-align: center;
}
:global .id-card .photo {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  min-width: 105px;
  min-height: 105px;
}
:global .id-card .nick-name {
  font-size: 18px;
  color: #666666;
  margin-top: 16px;
  margin-bottom: 10px;
}
:global .id-card .autograph {
  color: #999999;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
:global .id-card .sign {
  margin-top: 19px;
  color: #ffffff;
  cursor: pointer;
  width: 60px;
  display: inline-block;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  background: linear-gradient(to bottom, #0771bb, #00acaf);
}
:global .bl-home .ant-menu {
  border-right: none !important;
  background: #f5f5f5 !important;
  text-align: center !important;
}
:global .bl-home .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: rgba(153, 153, 153, 0.1);
}
:global .bl-home .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span {
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .bl-home .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span {
    background: none;
    color: #00acaf !important;
  }
}
:global .bl-home .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected:before {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  background: linear-gradient(to bottom, #0771bb, #00acaf);
}
:global .bl-home .ant-menu .ant-menu-item {
  height: 70px !important;
  line-height: 70px !important;
}
:global .bl-home .subheading {
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .bl-home subheading {
    background: none;
    color: #00acaf !important;
  }
}
:global .bl-home .ant-layout-content .title-card {
  background: rgba(153, 153, 153, 0.1);
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  text-align: center;
  font-size: 24px;
}
:global .bl-home .ant-layout-content .title-card span {
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .bl-home .ant-layout-content .title-card span {
    background: none;
    color: #00acaf !important;
  }
}
:global .bl-home .ant-layout-content {
  width: 910px !important;
  justify-content: center;
  margin-left: 50px;
  border: 1px solid rgba(153, 153, 153, 0.2) !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .bl-home .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span,
  :global .bl-home .ant-layout-content .title-card span {
    background: none;
    color: #00acaf !important;
  }
}
:global .footer {
  position: relative;
}
:global .footer p {
  font-size: 14px;
  margin-bottom: 17px !important;
}
:global .footer p:nth-of-type(2) {
  transform: translateX(-23px);
}
:global .footer p:last-child {
  font-size: 12px;
  color: rgba(153, 153, 153, 0.6);
}
:global .footer .logo {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -36px;
}
:global .footer .ant-layout-footer {
  height: 153px;
  background: #333333 !important;
  color: #999;
  padding-top: 40px;
  padding-bottom: 38px;
  text-align: center;
}
:global .ant-back-top-content {
  background: #00acaf !important;
}
:global .ant-back-top-content:hover {
  background: #0771bb !important;
}
:global .competition {
  display: flex;
  flex-wrap: wrap;
}
:global .service-card {
  width: 240px;
  height: 300px;
  position: relative;
  background-size: 238px;
  background-repeat: no-repeat;
  cursor: pointer;
}
:global .service-card .mask {
  position: absolute;
  top: 0;
  right: 2px;
  left: 0;
  z-index: 999;
  bottom: 0;
}
:global .service-card .img {
  width: 238px;
  height: 300px;
}
:global .service-card:nth-of-type(2) .img {
  width: 240px;
}
:global .service-card:hover .mask {
  background: rgba(31, 129, 194, 0.8);
}
:global .service-card .icon {
  position: absolute;
  top: 76px;
  left: 82px;
}
:global .service-card p {
  position: absolute;
  bottom: 75px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  left: 0;
  right: 0;
  margin-bottom: 0;
}
:global .service-type {
  width: 570px;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background: rgba(0, 12, 23, 0.5);
  background-size: 100% 100%;
  position: relative;
  cursor: pointer;
}
:global .service-type img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
:global .service-type .img-box {
  width: 320px;
  color: #ffffff;
  height: 140px;
  line-height: 140px;
  border-radius: 6px;
  overflow: hidden;
  background: rgba(249, 249, 249, 0.2);
  font-size: 24px;
  text-align: center;
  z-index: 999;
}
:global .service-detail-card {
  display: flex;
}
:global .service-detail-card img {
  width: 300px;
  height: 222px;
  flex-shrink: 0;
}
:global .service-detail-card .right {
  padding: 20px 0 20px 20px;
  border: 1px solid rgba(153, 153, 153, 0.2);
}
:global .service-detail-card .right h1 {
  line-height: 68px !important;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  color: #333333 !important;
}
:global .service-detail-card .right h1 span {
  margin-left: 28px;
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .service-detail-card .right h1 span {
    background: none;
    color: #00acaf !important;
  }
}
:global .service-detail-card .right .btn {
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  background: linear-gradient(to right, #00acaf, #0771bb);
  border-radius: 4px;
  font-size: 22px;
  margin-top: 66px;
}
:global .service-list-card .box {
  width: 255px;
  height: 282px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 50px;
}
:global .service-list-card .box .img-box {
  width: 255px;
  height: 188px;
}
:global .service-list-card .box .img-box img {
  height: 100%;
  width: 100%;
}
:global .service-list-card .box p {
  margin-bottom: 0 !important;
  line-height: 1;
}
:global .service-list-card .box .name {
  margin-top: 19px;
  font-size: 24px;
  color: #333333;
}
:global .service-list-card .box .type {
  margin-top: 14px;
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  position: relative;
}
:global .service-list-card .box .type:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: -11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #00ACAF;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .service-list-card .box .type {
    background: none;
    color: #00acaf !important;
  }
}
:global .back-button {
  width: 240px;
  height: 50px;
  border-radius: 8px;
  background: rgba(153, 153, 153, 0.2);
  font-size: 24px;
  color: #999999;
  text-align: center;
  line-height: 50px;
}
:global .sign-list {
  background: rgba(153, 153, 153, 0.1);
  margin-top: 58px;
}
:global .sign-list .title {
  line-height: 85px;
  text-align: center;
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 26px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .sign-list .title {
    background: none;
    color: #00acaf !important;
  }
}
:global .sign-list .item {
  height: 77px;
  line-height: 77px;
  padding: 0 148px 0 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  color: #999999;
  font-size: 22px;
}
:global .sign-list .item span {
  color: #666666;
}
:global .main-button {
  width: 240px;
  height: 50px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(0, 172, 175, 0.9), rgba(7, 113, 187, 0.9));
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}
:global .main-small-button {
  padding: 0 26px;
  height: 40px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(0, 172, 175, 0.9), rgba(7, 113, 187, 0.9));
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}
:global .icon-add-box {
  font-size: 20px;
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
:global .icon-add-box i {
  margin-right: 10px;
}
:global .icon-add-box span {
  padding-bottom: 2px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .icon-add-box {
    background: none;
    color: #00acaf !important;
  }
}
:global .icon-box {
  display: flex;
  align-items: center;
}
:global .self-add {
  height: 61px;
  background: #f3f3f3;
  border-radius: 4px;
  line-height: 61px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
:global .self-add .item {
  color: #666666;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
:global .self-add .title {
  color: #666666;
  font-size: 20px;
}
:global .self-add .reward {
  color: #999999;
  font-size: 16px;
}
:global .self-add .edit,
:global .self-add .del {
  font-size: 14px;
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .self-add .edit,
  :global .self-add .del {
    background: none;
    color: #00acaf !important;
  }
}
:global .self-add .split {
  display: inline-block;
  width: 1px;
  height: 21px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  margin: 20px 20px;
}
:global .self-add .fr {
  display: flex;
  align-items: center;
  cursor: pointer;
}
:global .fr {
  float: right;
}
:global .login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("./assets/login/bg.png") repeat;
  background-size: 100%;
}
:global .login-form-box .login-form-wrapper {
  width: 1000px;
  height: 530px;
  display: flex;
}
:global .login-form-box .login-left {
  width: 480px;
  text-align: center;
  height: 100%;
  background: url("./assets/login/bg2.png") repeat;
  background-size: 100% 100%;
  border-radius: 8px 0 0 8px;
  color: #666666;
}
:global .login-form-box .login-left h1 {
  margin-top: 76px !important;
  font-size: 48px;
}
:global .login-form-box .login-left h6 {
  margin-top: 21px !important;
  font-size: 24px;
}
:global .login-form-box .login-left img {
  margin-top: 69px;
}
:global .login-form-box .login-right {
  width: 522px;
  height: 100%;
  background: url("./assets/login/bg1.png") -1px repeat;
  background-size: 100% 100%;
  padding: 40px 52px 61px 50px;
  text-align: center;
  overflow: hidden;
  border-radius: 0 8px 8px 0;
}
:global .login-form-box .login-right .ant-form-item {
  margin: 0 !important;
}
:global .login-form-box .login-right .login-form {
  margin-top: 30px;
}
:global .login-form-box .login-right .ant-form-item-children {
  display: block;
}
:global .login-form-box .login-right .count-down {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
:global .login-form-box .login-right .ant-input {
  border: none;
  background: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:global .login-form-box .login-right .ant-input:focus {
  border: none !important;
  box-shadow: none;
}
:global .login-form-box .login-right .has-error .ant-form-explain,
:global .login-form-box .login-right .has-error .ant-form-split {
  position: absolute;
  top: 38px;
  left: 42px;
}
:global .login-form-box .login-right .has-error .ant-input:focus {
  border: none;
  box-shadow: none;
}
:global .login-form-box .login-right .ant-row {
  border-bottom: 1px solid #999999;
  margin-bottom: 0;
  padding: 23px 0 23px 0;
}
:global .login-form-box .login-right .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 42px;
}
:global .login-form-box .login-right .ant-btn {
  width: 400px;
  height: 50px;
  background: linear-gradient(90deg, rgba(0, 172, 175, 0.9), rgba(7, 113, 187, 0.9));
  margin-top: 45px;
  font-size: 24px;
}
:global .stage:last-child {
  padding: 40px 20px;
  background: #FAFAFA;
  border-radius: 6px;
}
:global .bl-confirm {
  border-image: linear-gradient(to right, #00ACAF, #0771BB) 10;
  box-shadow: 0 2px 8px 0 rgba(31, 130, 194, 0.3);
  border-radius: 6px;
  text-align: center;
  padding-bottom: 60px;
  width: 690px;
  margin: 0 auto;
}
:global .bl-confirm .title {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}
:global .bl-confirm .title span {
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 24px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .bl-confirm .title span {
    background: none;
    color: #00acaf !important;
  }
}
:global .bl-confirm .border {
  height: 6px;
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  border-radius: 3px 3px 0 0;
}
:global .bl-confirm .content {
  padding: 33px 30px 0;
  line-height: 36px;
  margin-bottom: 40px;
  color: #666666;
  font-size: 18px;
  text-align: left;
}
:global .bl-confirm .btn {
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}
:global .bl-confirm .btn.bl {
  background: rgba(153, 153, 153, 0.2);
  color: #999999;
}
:global .bl-confirm .btn.br {
  background: linear-gradient(to right, #00acaf, #0771bb);
  margin-left: 165px;
  color: #ffffff;
}
:global .light-gray {
  color: #999999 !important;
}
:global .deep-gray {
  color: #666666 !important;
}
:global .second-bg {
  background: #FAFAFA;
}
:global .competition-detail {
  border-radius: 4px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  padding: 29px 20px;
  margin-bottom: 79px;
}
:global .competition-detail p {
  color: #666666;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 30px;
}
:global .count-down {
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(0, 172, 175, 0.9), rgba(7, 113, 187, 0.9));
  height: 34px;
  width: 90px;
  text-align: center;
  color: #f5f5f5;
  line-height: 34px;
  font-size: 14px;
}
:global .bl-form .form-title {
  height: 60px;
  background: linear-gradient(to right, #00acaf, #0771bb);
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}
:global .bl-form .subheading {
  background: linear-gradient(to bottom, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .bl-form .subheading {
    background: none;
    color: #00acaf !important;
  }
}
:global .bl-form .form-name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  background: linear-gradient(to right, #00acaf, #0771bb);
  -webkit-background-clip: text;
  color: transparent;
}
:global .bl-form .form-name:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 20px;
  background: linear-gradient(90deg, #00acaf, #0b9ea0, #0d72b8, #00a9c1, #0771bb);
  position: absolute;
  left: -16px;
  top: 8px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .bl-form .form-name {
    background: none;
    color: #00acaf !important;
  }
}
:global .bl-form .form-content {
  padding: 30px 30px 60px;
}
:global .bl-form .form-input-title {
  color: #333333;
  font-size: 20px;
}
:global .bl-form .form-input-item {
  margin-top: 58px;
}
:global .form-next {
  height: 59px;
  line-height: 59px;
  text-align: right;
  padding-right: 44px;
  margin-top: 59px;
  font-size: 20px;
  background: linear-gradient(to right, #0771bb, #00acaf);
  -webkit-background-clip: text;
  color: transparent;
  border-top: 1px solid rgba(153, 153, 153, 0.2);
}
:global .form-next .icon-jinrujilu {
  vertical-align: middle;
  margin-bottom: 4px;
  margin-left: 16px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .form-next {
    background: none;
    color: #00acaf !important;
  }
}
:global .ant-modal-body .ant-form-item:last-child {
  margin-bottom: 0 !important;
}
:global .form-bl .ant-form-item {
  margin-bottom: 28px !important;
}
:global .form-bl .back-button,
:global .form-bl .main-button {
  width: 180px;
}
:global .form-bl .ant-row .ant-form-item-children {
  width: 100%;
}
:global .form-bl .ant-row .ant-form-item-label {
  width: 166px;
  padding-right: 26px;
  color: #333333;
  font-size: 20px;
  text-align: right;
}
:global .form-bl .ant-row .ant-form-item-label label {
  float: right;
  font-size: 20px;
  color: #333 !important;
}
:global .form-bl .ant-row .ant-form-item-control {
  min-height: 50px;
  line-height: 50px;
}
:global .form-bl .ant-row .ant-input,
:global .form-bl .ant-row .ant-time-picker-input {
  height: 50px;
  border: 1px solid rgba(153, 153, 153, 0.1) !important;
  color: #999 !important;
}
:global .form-bl .ant-time-picker-panel-input-wrap {
  padding: 19px 2px 11px 12px !important;
}
:global .form-bl .ant-time-picker-panel-input-wrap .ant-time-picker-panel-clear-btn {
  top: 19px !important;
}
:global .form-bl .ant-time-picker {
  width: 181px;
}
:global .form-bl .ant-calendar-input-wrap {
  height: 50px;
  padding: 14px 10px;
}
:global .border-colorful {
  border: 1px solid;
  border-image: linear-gradient(45deg, rgba(25, 176, 199, 0.4), rgba(247, 163, 157, 0.4), rgba(247, 198, 196, 0.4), rgba(33, 203, 188, 0.4), rgba(251, 124, 58, 0.4), rgba(82, 224, 217, 0.4), rgba(31, 129, 194, 0.4)) 1 1;
}
:global .service-form-wrapper {
  border: 1px solid;
  border-image: linear-gradient(45deg, rgba(25, 176, 199, 0.4), rgba(247, 163, 157, 0.4), rgba(247, 198, 196, 0.4), rgba(33, 203, 188, 0.4), rgba(251, 124, 58, 0.4), rgba(82, 224, 217, 0.4), rgba(31, 129, 194, 0.4)) 1 1;
  background: white;
  border-radius: 6px;
  margin-top: 39px;
  margin-bottom: 80px;
  padding: 60px 275px;
}
:global .bl-label .ant-radio {
  display: none !important;
}
:global .bl-label .ant-radio-wrapper {
  margin-right: 33px;
  margin-bottom: 19px;
}
:global .bl-label .ant-radio-wrapper span {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  color: #999999;
}
:global .bl-label .ant-radio-wrapper.ant-radio-wrapper-checked {
  background: linear-gradient(to right, #00acaf, #0771bb) !important;
}
:global .bl-label .ant-radio-wrapper.ant-radio-wrapper-checked span {
  color: #ffffff;
}
:global .btn-box {
  display: flex;
  justify-content: space-between;
  padding: 0 180px;
}
:global .ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}
:global .ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #999;
}
:global .ant-upload-list-picture-card .ant-upload-list-item {
  width: 160px !important;
  height: 180px !important;
}
:global .ant-upload.ant-upload-select-picture-card {
  width: 160px !important;
  height: 180px !important;
}
:global .ant-tabs-nav .ant-tabs-tab {
  padding: 30px 40px !important;
  transition: none !important;
}
:global .ant-tabs-nav .ant-tabs-tab:hover {
  background: linear-gradient(to right, #0771bb, #00acaf) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .ant-tabs-nav .ant-tabs-tab:hover {
    background: none;
    color: #00acaf !important;
  }
}
:global .ant-tabs-nav .ant-tabs-tab-active {
  background: linear-gradient(to right, #0771bb, #00acaf) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  :global .ant-tabs-nav .ant-tabs-tab-active {
    background: none;
    color: #00acaf !important;
  }
}
:global .ant-tabs-bar {
  margin-bottom: 40px !important;
}
:global .time-picker-button {
  background: linear-gradient(to right, #00acaf, #0771bb) !important;
}
:global .ant-empty {
  margin-top: 45px !important;
}
:global .ant-timeline-item-content {
  width: 440px !important;
}
:global .ant-timeline-item-content div {
  margin: 0;
  font-size: 20px;
  color: #666666;
}
:global .ant-timeline-item-content div div {
  color: #999999;
  float: right;
}
:global .row-upload .ant-form-item-children {
  display: flex !important;
}
:global .ant-carousel .slick-dots li button {
  height: 0 !important;
}
:global .ant-carousel .slick-dots {
  bottom: 17px !important;
}
:global .ant-carousel .slick-prev,
:global .ant-carousel .slick-next {
  z-index: 999;
}
:global .ant-carousel .slick-prev:hover,
:global .ant-carousel .slick-next:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}
:global .ant-carousel .slick-prev {
  left: 10px !important;
}
:global .ant-carousel .slick-next {
  right: 10px !important;
}
:global .media,
:global .media-player {
  height: 100% !important;
  width: 100% !important;
}
:global video,
:global .react-player__preview {
  width: 803px !important;
  height: 450px !important;
}
:global .flex-sb {
  justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */